
.kv
  box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.2)
  @apply w-screen max-h-full bg-center bg-no-repeat bg-cover h-[450px] sm:h-[640px] lg:h-[800px] grid place-content-center space-y-8
  &__content
    @apply space-y-4 pt-28
  p
    @apply text-white text-3xl text-center tracking-wider
    span
      text-shadow: 1px 1px 3px #ffffff

.next
  @apply bg-stone-100 space-y-6 flex-col p-4
  button
    @apply mx-auto

.desc
  @apply px-4 py-10
  &__title
    @apply text-4xl text-theme font-bold space-y-3 tracking-wider mb-10
  &__content
    @apply space-y-6 mb-10
    p:first-of-type
      @apply text-2xl text-secondary tracking-wide
    p:last-of-type
      @apply text-base text-stone-400 tracking-wide
  &__img
    @apply h-[400px] bg-cover bg-center mt-20

.idea
  @apply bg-stone-100 p-8
  & > img
    @apply flex mx-auto
  &__number
    @apply bg-white text-xl px-4 pt-12 pb-8 -mt-10
    p
      @apply text-center
      span
        @apply text-theme text-4xl mx-1
  &__slogan
    @apply relative py-12
    svg
      @apply absolute top-16 transform text-secondary w-16 h-auto
      &:first-of-type
        @apply  left-0
      &:last-of-type
        @apply  right-0  rotate-180
    p
      @apply text-center
    p:first-of-type
      @apply relative text-3xl tracking-wider leading-relaxed
    p:last-of-type
      @apply px-6 mt-4 text-lg

.calendar
  @apply p-6
  iframe
    border: solid 1px #777
    @apply w-full min-h-80 max-h-3/5

.course
  @apply bg-stone-100 p-4 pb-10
  h3
    @apply text-4xl text-theme font-bold mt-2 mb-6
  ul
    @apply space-y-10
  &__card
    @apply relative bg-white p-4 pb-8
    h6
      @apply text-2xl mt-2 mb-4 underline decoration-primary decoration-8
    div
      @apply space-y-2
    button
      @apply absolute text-lg -bottom-6 right-6 bg-secondary px-5 py-2 rounded-full select-none

.value
  @apply p-4
  h3
    @apply text-4xl text-theme text-center leading-relaxed px-4 space-x-3 mb-6
    svg
      @apply inline-block
      &:last-of-type
        @apply transform rotate-180
  &__card
    @apply relative pt-16 pb-6 px-8
    h6
      @apply relative text-3xl text-center tracking-widest text-stone-600 mb-4
    svg
      @apply absolute left-1/2 top-0 w-24 h-auto text-secondary transform -translate-x-1/2 text-opacity-80
      path
        @apply stroke-secondary
    p
      @apply relative px-4 leading-relaxed

.contact
  @apply p-4 pb-10
  h3
    @apply text-4xl text-theme text-center leading-relaxed px-4 space-x-3 mb-6
  ul
    @apply flex items-center justify-center space-x-10

.teacher
  @apply px-4 py-10 bg-stone-100
  &__img
    @apply h-[300px] w-[300px] bg-cover bg-center rounded-full flex mx-auto
  h3
    @apply text-4xl text-theme font-bold space-y-3 tracking-wider mb-10
  &__content
    h5
      @apply font-bold text-2xl mt-5 mb-2
    h6
      @apply font-bold text-lg mb-1 mt-2 ml-2
    p
      @apply ml-4
    ul
      li
        @apply list-disc ml-6
  &__title
    @apply text-center text-2xl font-bold mt-3 mb-6

